{% extends "base.html" %}
{% block title %}Donor - Overview{% endblock %}
{% block content %}
<h1 style="font-size: 24px;margin-bottom:0px;font-weight: 600;color: #012970;">Overview</h1>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Donor</li>
    </ol>
</nav>
        <div class="row mt-4 justify-content-evenly">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Scholarships</h5>
                        <p class="card-text">Total Scholarships: {{total_scholarships}}</p>
                        <a href="/donor/scholarships" class="btn btn-ua-red">Manage Scholarships</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Applications</h5>
                        <p class="card-text">Total Applications: {{total_applications}}</p>
                        <a href="/donor/applications" class="btn btn-ua-red">View Applications</a>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}